@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&display=swap');

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button,input{
    background: none;
    border:none;
}

hr{
    border:none;
    /* border-bottom:1px solid #ebebeb; */
    height: 1px;
    background: #ebebeb;
    width: 856px;
    margin:0 auto;
}
a, input, button{
    outline:none;
}
a:focus{
    font-weight: bold;
}
input:focus{
    box-shadow:inset 0 0 6px rgba(9,25,34,.9);
}
img{
    vertical-align: top;
}
/* LAYOUT */
.container{
    width: 1320px;
    margin:0 auto;
}
.con-pd{
    padding:81px 0;
}
.banner.con-pd{
    padding:81px 0 0;
}
.subpage.con-pd{
    padding:81px 0;
}
.hidden{
    /* display: none; */
    position:fixed;
    left: 0;
    top:-9999em;
    width: 0;
    height: 0;
    overflow: hidden;
}
.banner{
    text-align:center;
}

/* TYPOGRAPHY */
body{
    /* font-family: 'Open Sans', sans-serif;
    font-size:16px;
    line-height: 27px; */

    font:16px/27px 'Open Sans', sans-serif;
    color:#2c2c2c;
}
.banner-tt{
    font-size: 54px;
    line-height: 81px;
    text-align: center;
    letter-spacing: 2.75px;
    text-transform: uppercase;
    color: #3A99D8;
}
.content-tt {
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    margin-bottom: 27px;
}
.content-desc{
    font-weight: 300;
    font-size: 18px;
    text-align: center;    
    margin-bottom: 81px;
}
footer .content-desc{
    margin-bottom: 54px;
}

/* Link Button */
a{
    text-decoration: none;
    color: #9AC75B;
}
.btn{
    border-radius:4px;
    height: 40px;
    line-height: 40px;
    padding:0 20px;
    display: inline-block;
    color:#6E6E6E;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.btn i{
    margin-right: 10px;
}
a.link{
    text-decoration:underline;
}
/* FORM */
form{
    width: 350px;
    margin:0 auto;    
}
.field{
    background: #fff;
    border-radius:3px;
    width: 100%;
    height: 54px;
    line-height: 54px;
    padding: 0 20px;
    box-sizing:border-box;
    display: block;
    position: relative;
    overflow: hidden;
}
.field input{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding:0;
    padding-left: 46px;
    box-sizing: border-box;
}
.field input::-webkit-input-placeholder { /* Edge */
    color:#A8A8A8;
}
  
.field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:#A8A8A8;
}
  
.field input::placeholder, .field i {
    color:#A8A8A8;;
}
.field i {
    margin-right: 2px;
}

input[type="submit"] {
    background:none;
    border:1px solid #fff;
    color:#fff;
    text-transform: uppercase;
    font-weight: 700;
}




/* COLORS */
.light-bg {
    background: #EBEBEB;
}
.highlight-bg{
    background: #9AC75B;
    color:#55762C;
}
.banner{
    background: #2D3E4F;   
}

/* ----------------- HEADER ------------------- */
header{
    padding:27px 0;
    background: #fff;
    box-shadow:0 4px 4px rgba(0,0,0,.05);
}
header > div{
    display: flex;
    justify-content: space-between;
}
header > div.sign{
    justify-content: center;
}

.logo a{
    background:url(../images/logo.png) no-repeat;
    width: 161px;
    height: 54px;
    text-indent:-9999em;
    display:block;
}

header nav, header nav ul{
    display: flex;
    align-items: center;
}

header nav p{
    line-height: 40px;
    margin-right: 145px;
    word-spacing:6px;
}

header nav p a{
    color: #2c2c2c;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
header nav ul li:first-child{
    margin-right: 10px;
}
/* ----------------- FOOTER ------------------- */
footer{
    text-align: center;
}
footer .cta{
    background: #292C2E;
    margin-bottom: 81px;
}
footer .content-tt {
    color: #fff;
}
footer .content-desc{
    color: #a8a8a8;
}
footer > p:first-of-type {
    margin-bottom: 27px;
}
footer > p:last-of-type {
    margin-bottom: 81px;
}