.banner h3{
    color: #fff;
    font-size: 32px;
    line-height: 27px;
    margin:27px 0;
}
.banner img{
    margin-top: 27px;
    max-width: 1320px;
}
.features ul{
    display: flex;
    justify-content: space-between;
}
.features li{
    width: 414px;
    text-align: center;
}

.features li .icon{
    width: 108px;
    height: 108px;
    border-radius:50%;
    border:1px solid #439CCF;
    box-sizing: border-box;
    display: inline-block;
    line-height: 106px;
    color:#439CCF;
    font-size: 36px;
    margin-bottom: 27px;
}
.features li h3{
    font-size: 24px;
    margin-bottom: 27px;
}
.testimonial{
    position: relative;
}
.testimonial .slide blockquote{
    width: 800px;
    margin:0 auto;
    text-align: center;
    color: #489DCD;
    font-size: 24px;
    line-height: 36px;
    font-weight: 300;
    font-style:italic;
}
.testimonial .slide blockquote cite{
    font-size: 16px;
    line-height: 27px;
    margin-top: 60px;
    display: inline-block;
    font-style: normal;
    text-transform: uppercase;
}
.testimonial .controls i{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    font-size: 45px;
    color: #EBEBEB;
}
.testimonial .controls i:first-child{
    left: 0;
}
.testimonial .controls i:last-child{
    right: 0;
}