/* 
header .logo{
    float:none;
    text-align: center;
}
.logo a{
    display: inline-block;
} 
*/
header .logo{
    float:none;   
}
.logo a{
    margin:0 auto;
} 
.subpage form{
    margin:81px auto 0
}
.subpage form p{
    margin-bottom: 10px;
    text-align: left;
}
.banner{
    text-align: center;
}
.banner .link{
    margin-top: 81px;
    display:inline-block;
}
.light .cta{
    background: none;
}
.light .cta h2,
.light .cta p{
    color: #A8A8A8;
}
.subpage form{
    position: relative;
}
.subpage form .feedback{
    position: absolute;
    background: #fff;
    border-radius:3px;
    padding: 20px;
    color:#F30000;
    left: calc(100% + 40px);
    top:0;
    width: 260px;
    box-sizing: border-box;
}
.subpage form .feedback:before{
    position: absolute;
    content:'';
    border-style: solid;
    border-width:6px 10px;
    border-color:transparent #fff transparent transparent;
    right:100%;
    top:21px;
}